<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-static-top navbar-gradient">
  <div class="container">
    <div class="spaces-div">
      <table>
        <tr>
          <th>Family</th>
          <th>Private</th>
          <th>Work</th>
          <th>School</th>
          <th>News</th>
        </tr>
      </table>
    </div>
  </div>
</nav>
<div class="container user-grid">
  <div class="row">
    <div class="col-sm-2">
      <div></div>
    </div>
    <div class="col-sm-2">
      <div></div>
    </div>
    <div class="col-sm-8">
      <div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div></div>
    </div>
    <div class="col-sm-4">
        <div></div>
      </div>
      <div class="col-sm-4">
          <div></div>
        </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <div></div>
        </div>
  </div>
</div>